form action=("/secret_register") method=("POST")
    input type="text" name="SecretUsername" required="required" placeholder="Username"
    input type="password" name="UserPassword" required="required" placeholder="Password"
    input type="submit" value="hello"